@import 'bourbon'

$break-large: 1200px

html
  position: absolut
  top: 0
  bottom: 0
  left: 0
  right: 0

// reset code style
.prettyprint
  padding: 1em 1.5em !important
  border: 1px solid #ddd !important
  white-space: pre-wrap !important
  word-break: break-all !important
  box-sizing: border-box !important
  li
    list-style-type: decimal !important

.container
  width: 100%
  max-width: 760px
  margin: 0 auto

.header
  background: #fff
  text-align: center

.menu
  margin: 1em 0 0
  padding: 0
  font-size: 18px
  &__item
    display: inline
  &__link
    border: none
    margin: 0 5px

.main
  margin-top: .5em
  padding: 1em 1.5em
  background: #fff
  border-bottom-left-radius: 1em
  border-bottom-right-radius: 1em

.pagination
  position: relative
  display: table
  width: 100%
  min-height: 1em
  margin-top: 10px
  table-layout: fixed
  &__prev,
  &__next
    display: table-cell
    width: 50%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  &__prev
    text-align: left
    padding-right: 1em
    &:before
      padding-right: .5em
      content: '◀'
  &__next
    text-align: right
    padding-left: 1em
    &:after
      padding-left: .5em
      content: '▶'
  .page-num
    display: table-cell
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.page-num
  text-align: center
  &__current
    color: #999
    &.is-end
      color: #000
  &__total

.footer
  padding: 1em 0
  text-align: center
  .footer__item
    position: relative
    padding: 0 .5em
    &:first-child:before
      width: 0
    &:before
      $ft-border-height: 1em
      position: absolute
      top: 50%
      left: 0
      width: 1px
      height: $ft-border-height
      margin-top: -$ft-border-height / 2
      background-color: #ccc
      content: ''

.archive

.post-list
  &__item+&__item
    margin-top: .5em

.post-list-item
  list-style-type: none
  &__time
    display: inline-block
    padding-right: 1em

.post
  &__title
  &__time
    margin-left: .5em
    font-size: .5em
    color: #999

.post--album
  img
    width: 100%
    
.albums
  &__title
    text-align: center
  &__empty
    text-align: center


.album-list
  margin: 0
  padding: 0
  margin-top: 1em
  list-style: none
  text-align: center
  &__item
    margin: 0 1em 1em

.album
  display: inline-block
  width: 212px
  padding: 5px
  border: 1px solid #888
  border-radius: 5px
  box-sizing: border-box
  &:hover
    box-shadow: 4px 4px 0px #eee
  &__title
    +ellipsis(100%)
    border-bottom: none

.pic-list
  margin: 0
  padding: 0
  list-style: none
  text-align: center
  &__item
    display: inline-block

.pic-item
  +size(100px)
  img
    +size(100%)
    vertical-align: top
  &--single
    +size(200px)

.toc
  margin: 0
  padding: 1em
  padding-left: 1em
  font-size: 14px

  &-container
    +position(fixed, 50px null 0 10px)
    width: 220px
    @media screen and (max-width: $break-large)
      position: static
      width: 100%
  &-wrap
    +position(absolute, 3em 0 null)
    max-height: 80%
    overflow: auto
    border-top: 1px dashed #ccc
    border-bottom: 1px dashed #ccc
    @media screen and (max-width: $break-large)
      position: static
      width: 100%
      max-height: auto
  &-title
    font-size: 1.5em
  &-item
    list-style-type: none
  &-number
    font-size: 12px
  &-link
    border: none
  &-child
    padding-left: 1em
  
.qiniu-image
  display: block
  margin-top: .5em
  vertical-align: top