extends includes/layout

block content
  include mixins
  .category
    h1= page.category
    - page.posts.each(article => {
        +listItem(article, 'category')
    - })
  include includes/pagination
