extends includes/layout

block content
  include mixins
  div.category
    h1= page.category
    ul.post-list
      - page.posts.each(article => {
          +postItem(article, 'category').post-list__item
      - })
  include includes/pagination
