extends includes/layout

block content
  include mixins
  if page.posts.length > 0
    .post-list
      each post in page.posts.toArray()
        +listItem(post, 'post')
  include includes/pagination
