extends includes/layout

block content
  article.post
    h1
      = page.title
      time(class="post__time" datetime=date_xml(page.date))=' ' + date(page.date)
    != page.content
  include includes/post-pagination
