extends includes/layout

block content
  include mixins
  div.atag
    h1= __('archives.tags') + ': ' + page.tag
    ul.post-list
      - page.posts.each(article => {
          +postItem(article, 'tag').post-list__item
      - })
  include includes/pagination
