extends includes/layout

block content
  include mixins
  div.tag
    h1= 'Tag: ' + page.tag
    - page.posts.each(article => {
        +listItem(article, 'tag')
    - })
  include includes/pagination
